.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 32px;
}


.container {
  align-items: center;
  min-height: 100vh;
  padding: 40px 16px;
  background: #f8f8f8;
}

.makeBtn {
  padding: 4px 8px;
  margin-left: auto;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
}

.makeQuiz {
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 10px #0002;
}

.form {
  padding: 20px 16px 16px;
}

.textInput {
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 16px;
  font-size: 16px;
  background: #f5f5f5;
  border: none;
  border-bottom: 1px solid #bbb;
}

.controls {
  display: flex;
  gap: 8px;
  align-items: center;
}

.btn {
  padding: 4px 8px;
  margin-left: auto;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
}

.btnList {
  display: flex;
  gap: 16px;
}

.listName {
  display: flex;
  font-size: 40px;
}
